* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f7f7f7;
    height: 100%;
    /* text-align: center; */
    /* min-height: 100vh;
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-start; */
    /* background-image: url('fotoğraflar/lojistik/gemi.jpg'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */


}

.container {
    margin: 10px;

}


#dünya {
    position: absolute;
    top: 15px;
    right: 1%;
    max-width: 5%;
}

#serit {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 5%;
}

.jelibon-container {
    margin-top: 30px;
    overflow: hidden; /* İçerik taşmalarını önlemek için */
    white-space: nowrap; /* Fotoğrafları yan yana sığdır */
}

.jelibon {
    display: inline-block; /* Fotoğrafları yatay hizada tutmak için */
    margin-right: 10px; /* Fotoğraflar arasına boşluk bırakmak için */
    animation: dönenJelibon 10s linear infinite; /* Animasyonu uygula (süre uzatıldı) */
    max-width: 6%; /* Fotoğraf maksimum genişliği */
}

@keyframes dönenJelibon {
    0% {
        transform: translateX(0%); /* Başlangıçta hareket yok */
    }
    100% {
        transform: translateX(2vw); /* En sağa ulaştığında en sola geri dön */
    }
}


#dikjelibon {
    max-height:130px;
}



@keyframes dönenJelibon {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(30vw); /* Sağa kaydır */
    }
}

#yazivejelux {
    /* border: 2px solid black; */
    display: flex;
    /* Flexbox kullanarak içerikleri yan yana hizala */
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 400px;
    /* overflow: hidden; */
    /* İçerikler taşarsa gizle */
    margin-top: 30px;
}



#logodiv {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 110px;
    cursor: pointer;
    /* border: 2px solid green; */
    /* font-size: 25px;
    margin-left: 65px; */

}

#logodiv:hover + #isaret + #jelux {
    max-width: 70%;
    max-height: 70%;
}





#logo img {
    /* border: 2px solid blue; */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#isaret h1 {
    /* display: inline-block;  */
    /* border: 2px solid red; */
    font-family: "Sedan SC", serif;
    font-size: 55px;

}



#jelux {
    float: right;
    /* jelux'u sağa yasla */
    display: flex;
    /* border: 2px solid rgb(44, 97, 23); */
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    /* İsteğe bağlı olarak yükseklik belirleyebilirsiniz */
    /* overflow: hidden;  */
}

#jelux img {
    /* border: 2px solid rgb(44, 97, 23); */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    animation: pulse 2s infinite;
}

@keyframes pulse {
   0%, 100% {transform: scale(1);}
   50% {transform: scale(1.2);}
}

.container_yazilar {
    /* border: 2px solid black; */
    display: inline-block;
    width: 60%;
    font-size: 24px;
    /* text-align: center; */
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    /* font-style: normal; */
}

.text {

    text-align: center;
    letter-spacing: 10px;
    /* border-right: 5px solid; */
    width: 100%;
    white-space: nowrap;
    margin-bottom: 15px;
    overflow: hidden;
    animation: ilksatir 3s forwards,
        cursor .4s step-end infinite alternate;
}





.text2 {
    letter-spacing: 10px;
    width: 0;
    /* Başlangıçta genişlik sıfır olacak */
    white-space: nowrap;
    overflow: hidden;

}

.typing-animation {
    animation: ikincisatir 3s forwards, cursor .4s step-end infinite alternate;
}

.hidden {
    visibility: hidden;
    /* Başlangıçta görünmez olacak */
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes ilksatir {
    from {
        width: 0
    }
}

@keyframes ikincisatir {
    to {
        width: 100%;
    }
}






.contact-info {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-left: 35px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* border: 2px solid black; */
    
}

.contact-item i {
    margin-right: 10px;
    font-size: 20px; /* İkon boyutu */
    color: #333; /* İkon rengi */
    cursor: pointer;
}

.contact-item a {
    color: #333;
    text-decoration: none;
    font-family: "Sedan SC", serif;
    font-size: 16px;
    /* font-weight: bold;  */
}

@media (min-width: 600px) {
    .contact-info {
        flex-direction: row;
    }

    .contact-item {
        margin-right: 20px;
        margin-bottom: 0;
    }
}

.contact-item a:hover {
    transition: 1s;
    /* font-weight: bold; */
    letter-spacing: 1px;
    background-color: grey;
    color: azure;
    border-radius: 10px ;
    padding: 5px;
    
}

.contact-item i:hover + a,
.contact-item i:hover ~ a {
    transition: 1s;
    /* font-weight: bold; */
    letter-spacing: 1px;
    background-color: grey;
    color: azure;
    border-radius: 10px ;
    padding: 5px;
}

.contact-item a:not(:hover) {
    letter-spacing: normal; 
    transition: 1s;
}




